<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>BORGER LOGGER</title>
</head>

<body>
    <div>
        <br>
        {{{body}}}
        <br>
        <br>
        <form action="burger/create" method="POST">
            <div>
                <label for="new_burger" class="">INSERT YOUR BORGER HERE</label>
                <textarea type="text" id="new_burger"
                    name="burger_name"><textarea name="" id="" cols="30" rows="10"> </textarea>
                <button id="submit-button" type="submit">MAKE THAT BURGER</button>
        </form>
    </div>

    </div>
</body>





</html>