<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom CSS Styling -->
    <link rel="stylesheet" href="assets/css/burger_style.css">
    <title>Burgers Logmaster</title>
</head>

<body>
    <!-- Page Container -->
    <div class="container-fluid" id="cardBack">
        <center>
            <div class="row">
                <div class="jumbotron">
                    <h1>Burger-o-matic!!!!</h1>
                    <br>
                    =====================
                    <br>
                    <p id="info">Pick a burger from the list. Then proceed to C O N S U M E it.
                        <br> If there aren't any burger you like, 
                    <br>simply type in a new burger, click enter, and then consume that instead.      
                    </p> =====================
        </center>
        <br>
        <!-- Burger Content from index.handlebars -->
        {{{body}}}
        <br>
        <br>
        <!-- Input New Burgers Form -->
        <form action="borger/create" method="POST">
            <!-- Text Area Input -->
            <div class="row">
                <!-- Empty Div to help center textarea -->
                <div class="col-md-3"></div>
                <!-- Burger Input Box -->
                <div class="form-group col-md-6">
                    <center>
                        <label for="new_burger" class="submitFont">Create a new burger!</label>
                    </center>
                    <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="
                        name="borger_name"></textarea>
                </div>
                <div class="col-md-3 "></div>
            </div>
            <!-- Submit Button -->
            <center>
                <button id="submit-button" type="submit " class="btn">Generate my burger</button>
            </center>
        </form>
        <br>
    </div>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
</body>

</html>