<div class="row">
    <center>
        <!-- Left side (Burgers Available) -->
        <div>
            <h3 class="submitFont">Eat Me!</h3>
            <div id="borgersAvailable">
                {{#each burgers}} {{#unless devoured}}
                <form action="burger/eat/{{id}}" method="POST">
                    <div>
                        <li >{{burger_name}}</li>
                        <span>
                            <button class="omnom-button" type="submit">OM NOM NOM NOM</button>
                        </span>
                    </div>
                </form>
                {{/unless}} {{/each}}
            </div>
        </div>

        <div></div>

        <!-- devoured burgers -->
        <div>
            <h3>C O N S U M E D:</h3>
            <div id="Eaten">
                {{#each burgers}} {{#if this.devoured}}
                <div>
                    <li>{{this.burger_name}}</li>
                </div>
                {{/if}} {{/each}}
            </div>
        </div>
    </center>
</div>