/*--------------------------- Responsive guide ----------------------*/

/* Medium Layout: 1280px */

/* Tablet Layout: 768px */
html {
    background-image: linear-gradient(#2E2A3E, #0e0b1a);
    background-color: #2E2A3E;
    color: antiquewhite;
}
#alreadyEaten {
    padding: 1%;
    margin: 2%;
}

#cardBack {
    color: black;
    background-image: linear-gradient(#645c81, #53477e);
    height: 80%;
}
.burgies {
    color: antiquewhite;
    font: bold;
    font-size: medium;
}
.jumbotron {
    background-color: #f0b3f52f;
    color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-group {
    background-color: transparent;
}
 .form-control {
    font-weight: bold;
    border: transparent;
    padding: 2px;
    margin: auto;
    margin-bottom: auto;
    border-radius: 3px;
    background-color: wheat;
}
.submit-button {
    color: black;
    background: #daa520;
}
.submit-button {
padding: 24px;
}

.btn:hover {
padding-right: 18px;
}
/* Mobile Layout: 320px */

/* Wide Mobile Layout: 480px */

/* =================================== */

/*  Main
/* =================================== */

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

ul {
    list-style: none;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3, h4, h6 {
    font-family: "Poppins", sans-serif;
    color: #152266;
    line-height: 4.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 800;
}

h5 {
    font-family: "Poppins", sans-serif;
    color: #e47dcf;
    line-height: 3.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    text-align: center;
}

#button {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
}

#button:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background: #4292dc;
}

.delete-burger {
    color: red;
    text-decoration: none;
    background: transparent;
    border: none;
}

.alert {
    display: none;
}

.primary-btn {
background-color: rgb(194, 138, 64);
}

.primary-btn {
    height: 50px;
    line-height: 50px;
    padding-bottom: 20px;
    border-radius: 0px;
    border: 1px solid transparent;
    background-origin: border-box;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    border-radius: 25px;
}

.primary-btn:hover {
    background: #fff;
    text-decoration: none;
    border: 1px solid #fdd53e;
    color: #fdd53e;
}

/*--------------------------------------------------------------
# Title
--------------------------------------------------------------*/

.title {
    font-size: 6vw;
    font-weight: 500;
    word-spacing: px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 4px #3f3f3f;
}

.line {
    color: #fd7e14;
    border: 5px solid;
    width: 60px;
    text-align: center;
}

#page {
    background-image: url("../img/burger-unsplash.jpg");
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 320px;
    max-width: 100%;
    max-height: 100%;
    min-height: 100vh;
    opacity: 0.7;
    position: relative;
}

.menu {
    text-align: left;
    padding: 35px;
    margin: 33px;
    font-size: 16px;
    min-width: 320px;
    max-width: 100%;
    max-height: 60%;
    min-height: 70vh;
    position: relative;
}

.orderDevoured {
    padding: 20px;
    margin: 10px;
    font-size: 16px;
}

.overflow-visible {
    white-space: initial;
}
